.music-player-panel, .react-jinke-music-player-mobile {
  position: static!important;
}

.react-jinke-music-player-mobile {
  height: auto!important;
  background-color: #403f3f;
  border-bottom: solid #272727 2px;
}

.react-jinke-music-player-mobile-toggle, .react-jinke-music-player-mobile-cover, .react-jinke-music-player-mobile-singer, .react-jinke-music-player-mobile-switch, .react-jinke-music-player-mobile-header .right svg, .react-jinke-music-player-mobile-operation li:last-child, .react-jinke-music-player-mobile-operation li:first-child, .panel-content .img-rotate {
  display: none;
}

.player-content .audio-lists-btn {
  display:none!important;
}

.react-jinke-music-player-mobile-progress {
  margin: 20px 0px 20px 0px;
}

@media (max-width: 575) { 
  .interface {
    width: 75%;
  }
}

@media (min-width: 576px) and (max-width: 991) { 
  .interface {
    width: 100%;
  }
}

@media (min-width: 992px) { 
  .interface {
    width: 50%;
  }
}